html
	head
		title Premier Shirts
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		script(type='text/javascript' src='public/js/jquery.js')
		script(type='text/javascript' src='public/js/admin.js')
		style 
			include ../public/css/admin.css
	body
		div.setting
			h1 Settings
			h3 Shirt Price
			p Submit a whole number only.
			input.shirtPrice
			div 
				a.newShirtPrice(href="") Submit Shirt Price
		div.setting
			h3 Sleeve Price
			p Submit a whole number only.
			input.sleevePrice
			div 
				a.newSleevePrice(href="") Submit Sleeve Price
		div.setting
			h3 Weekly Scorers
			p Submit in the following format: Name1,Number1,Club1,Discount1;Name2,Number2,Club2,Discount2;...;NameX,NumberX,ClubX,DiscountX
			p Player names should appear in the same case as they are seen on the website.
			p Club names format: arsenal,bournemouth,brighton,burnley,chelsea,crystalpalace,everton,huddersfield,hull,leicestercity,liverpool,manchestercity,manu,middlesborough,newcastle,southampton,stoke,sunderland,swansea,tottenham,watford,westbrom,westham
			p e.g. Ramsey,8,arsenal,3;Özil,11,arsenal,3;Alonso,3,chelsea,3
			textarea.scorers
			div 
				a.submitScorers(href="") Submit New Scorers
			div.clear 
				a.clearScorers(href="/clearScorers") Clear Scorers
			div 
				p Current Scorers (Name, Number, Club, Discount)
					if data.length
						each scorer in data
							p #{scorer.kitname}, #{scorer.kitnumber}, #{scorer.club}, #{scorer.discount}
					else 
						p No discount scorers.