include header.pug
div.teams.page
	div.content
		h1.title Which Club's Shirt Do You Have?
		div.clubs.row
			each club, index in data.clubs
				div.club.small-12.medium-4.large-3.columns
					h6 #{data.clubsFull[index]}
					div.image
						img(src="/public/images/shirts/" + data.style + "/" + club + ".gif")
					div.stats
						p Location: #{data.locations[index]}
						p Stadium: #{data.stadiums[index]}
						p Capacity: #{data.capacity[index]}
					div.btnDiv
						a.action(href="/strip?deliveryType=" + data.deliveryType + "&printingType=" + data.printingType + "&style=" + data.style + "&premOrDifferent=" + data.premOrDifferent + "&club=" + club + "&childOrAdult=" + data.childOrAdult)
							span Select
	include footerFlow.pug