include header.pug
div.page.club
	h1 Which Club's Shirt Do You Have?
	div.select
		select.clubOption
			option(value='') Please Select
			each club in data.clubs
				option #{club}

	div.hiddenFirst.content
		div.crest
			img()
		div.btnDiv
			a.btn()
				span Select
include footer.pug