include headerFlow.pug
div.teams.page
	div.content
		h1 Which Club's Shirt Do You Have?
		div.clubs.row
			each club, index in data.clubs
				div.club.small-12.medium-4.large-3.columns
					h3 #{data.clubsFull[index]}
					div.crest
						img(src="/public/images/crests/" + club + ".png")
					div.btnDiv
						a.action(href="/strip?deliveryType=" + data.deliveryType + "&printingType=" + data.printingType + "&style=" + data.style + "&premOrDifferent=" + data.premOrDifferent + "&club=" + club)
							span Select
	include footerFlow.pug