include header.pug
div.page.club
	h1 Which Club's Shirt Do You Have?
	select.clubOption
		option(value='') Please Select
		each club in data.clubs
			option #{club}

	div.content
		div.crest
			img()
		div.btnDiv
			a.btn()
				span Select
include footer.pug