include header.pug
div.colour.page
	div.content
		h1.title What Colour Letters Do You Want?
		div.select
			select.colourOption
				option(value='') Please Select
				option(value='white') White
				option(value='black') Black
				option(value='blue') Blue
				option(value='red') Red
				option(value='yellow') Yellow


		div.hiddenFirst.content
			div.action
				a.btn()
					span Select
	include footerFlow.pug