include header.pug
div.query.page
	div.content
		div.title 
			h1 GET IN TOUCH
		p.pageInfo We have tried to make our site as easy to use as possible but if there is anything that needs clearing up, please use the form below to let us know.
		div.form.row
			div.field#name
				span.formLabel Name: 
				input.name(placeholder="Joe Bloggs")
			div.field#email
				span.formLabel Email: 
				input.email(placeholder="myemail@example.co.uk")
			div.field#number  
				span.formLabel Number: 
				input.number(placeholder="07777777777")
			div.field#comments
				span.formLabel Extra Comments: 
				textarea.comments(placeholder="Ask us anything.")
			div.submit.btn.small-12.columns
				a.contactEmail(href="/sendQueryEmail")
					span Send Message

include footer.pug