div.footer
	div.social
		h4 Find Us Online
		span
			a(href="https://www.facebook.com/PremierShirtsAshford/")
				i.fa.fa-facebook(aria-hidden="true")
		span
			a(href="https://www.facebook.com/PremierShirtsAshford/")
				i.fa.fa-twitter(aria-hidden="true")
		span
			a(href="https://www.facebook.com/PremierShirtsAshford/")
				i.fa.fa-instagram(aria-hidden="true")
	div.createdBy
		span Created By 
			a(href="www.harleyrowland.com") Harley Rowland
