div.footer
	main.row
		div.social.small-6.medium-3.columns
			h4 Social Media
			div
				a(href="/#") Facebook
			div
				a(href="/#") Twitter
			div
				a(href="/#") Instagram
			div
				a(href="/#") Linkin
		div.siteMap.small-6.medium-3.columns
			h4 Site Map
			div
				a(href="/#") Home Page
			div
				a(href="/#") Hero Printing
			div
				a(href="/#") Shirt Customisation
			div
				a(href="/#") Contact
			div
				a(href="/#") FAQs
		div.contact.small-6.medium-3.columns
			h4 Contact
			div
				span sales@premiershirts.co.uk
			div
				a(href="/#") Contact
			div
				span 07777 777777
			div
				a(href="/#") FAQs
		div.policies.small-6.medium-3.columns
			h4 Policies
			div
				a(href="/#") Cookie Policy
			div
				a(href="/#") Terms and Conditions
			div
				a(href="/#") Privacy Policy
