div.bottom
	div.row
		div.action.small-12.medium-4.large-2.columns
			a.btn(href="/")
				span Home
		div.action.small-12.medium-4.large-2.columns
			a.btn(href="/style")
				span Start Again
		div.action.small-12.medium-4.large-2.columns
			a.btn(href="/basket")
				span Go To Basket