div.bottom
	div.row
		div.action.small-12.medium-2.columns
			a.btn(href="/style?deliveryType=send")
				span Home
		div.action.small-12.medium-2.columns
			a.btn(href="/style?deliveryType=send")
				span Start Again
		div.action.small-12.medium-2.columns
			a.btn(href="/style?deliveryType=send")
				span Go To Basket