div.footer
	div.social
		h4 Find Us Online
		span
			a(href="https://www.facebook.com/PremierShirtsAshford/" target="_blank")
				i.fa.fa-facebook(aria-hidden="true")
		span
			a(href="https://twitter.com/premier_shirts" target="_blank")
				i.fa.fa-twitter(aria-hidden="true")
		span
			a(href="https://www.instagram.com/premiershirtsashford/?hl=en" target="_blank")
				i.fa.fa-instagram(aria-hidden="true")
	div.createdBy
		span Created By 
			a(href="http://www.harleyrowland.com") Harley Rowland
