include header.pug
div.page.hero
	h1 What Player Do You Want On Your Shirt?
	div.select
		select.playerOption
			option(value='') Please Select
			each pair in data.playersAndNumbers
				option #{pair}
	
	div.hiddenFirst.content
		div.btnDiv
			a.btn()
				span Select
include footer.pug