include header.pug
div.page.index
	div.landing
		div.landingImage
			h1.landingTitle Football Shirt  
				br 
				span Customisation
	div.about
		h2 Any Shirt, Styled Any Way You Want
		p.pageInfo We specialise in Football Shirt printing and promise that a shirt you send to us will look as good on you as it does on the players you support.
		div.shirtImages.row
			div.shirtImage.small-6.medium-3.columns
				img(src="/public/images/fix.jpg")
			div.shirtImage.small-6.medium-3.columns
				img(src="/public/images/halliday.jpg")
			div.shirtImage.small-6.medium-3.columns
				img(src="/public/images/janssen.jpg")
			div.shirtImage.small-6.medium-3.columns
				img(src="/public/images/morgan.jpg")
		div.action.getYours
			a.btn(href="/service")
				span Get Yours Now
	div.imageStrip
	div.contact
		h2 Get In Touch With Us
		p.pageInfo Please do not hesitate to talk to us. We are more than happy to help with any queries you have!
		div.choices.row
			div.choice.topChoice.small-12.medium-6.columns
				div.quote
					h3.optionTitle Contact Us
					h5.optionSubTitle Ask Us Anything!
					div.action
						a.btn(href="/contact")
							span Contact
			div.choice.bottomChoice.small-12.medium-6.columns
				div.contact
					h3.optionTitle Get A Quote
					h5.optionSubTitle Get a quote for any football shirt or maybe even something a little different.
					div.action
						a.btn(href="/quote")
							span Quote
include footer.pug