include header.pug
div.page.letter
	h1 What letter styling do you want?
	select.letterOption
		option(value='') Please Select
		option(value='white') Straight
		option(value='black') Curved

	div.content
		div.btnDiv
			a.btn()
				span Select
include footer.pug