include header.pug
div.page.letter
	h1 What Letter Styling Do You Want?
	div.select
		select.letterOption
			option(value='') Please Select
			option(value='white') Straight
			option(value='black') Curved

	div.hiddenFirst.content
		div.btnDiv
			a.btn()
				span Select
include footer.pug