html
	head
		title Premier Shirts
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		script(type='text/javascript' src='public/js/jquery.js')
		script(type='text/javascript' src='public/js/admin.js')
		script(type='text/javascript' src='public/js/sha256.js')
		style 
			include ../public/css/admin.css
	body
		div.setting
			h1 Login
			p Username: 
				input.username
			p Password:	 
				input.password(type="password")
			div 
				a.login(href="") Login