include header.pug
div.nameNumber.page
	div.content
		h1.title What Name And Number Do You Want? 
		div.row
			div.form
				form
					div
						div.formLabel Shirt Name: 
						input.shirtName(maxlength="20")
						span.nameNumberLeft.nameCharsLeft Up to 20 Characters Left
					div
						div.formLabel Shirt Number: 
						input.shirtNumber(maxlength="2")
						span.nameNumberLeft.numberCharsLeft Up to 2 Characters Left
			div.basket.hiddenFirst
				p Price: 
					span.price

		div.hiddenFirst.content
			div.action
				a.btn()
					span Select
	include footerFlow.pug