include header.pug
div.page.nameNumber
	h1 What Name And Number Do You Want? 
	div.row
		div.form.small-12.medium-8.columns
			form
				div
					span Shirt Name: 
					input.shirtName
				div
					span Shirt Number: 
					input.shirtNumber
		div.basket.small-12.medium-4.columns
			h3 Basket
			p Custom Name and Number: 
				span.price

	div.hiddenFirst.content
		div.btnDiv
			a.btn()
				span Select

include footer.pug