include headerFlow.pug
div.nameNumber.page
	div.content
		h1 What Name And Number Do You Want? 
		div.row
			div.form
				form
					div
						div.formLabel Shirt Name: 
						input.shirtName
					div
						div.formLabel Shirt Number: 
						input.shirtNumber
			div.basket.hiddenFirst
				p Price: 
					span.price

		div.hiddenFirst.content
			div.action
				a.btn()
					span Select
	include footerFlow.pug