include header.pug
div.page.nameNumber
	h1 Custom Printing  
	form
		div
			span Shirt Name: 
			input.shirtName
		div
			span Shirt Number: 
			input.shirtNumber
		div.content
		div.btnDiv
			a.btn()
				span Select

include footer.pug