include header.pug
div.premOrDifferent.page
	div.content
		h1.title What Kind Of Shirt Do You Have?
		p.pageInfo Is your shirt from a team in English Top Flight now or not.
		div.choices.row
			div.choice.topChoice.small-12.medium-6.columns
				div.heroPrinting
					h3.optionTitle Top Flight Shirt
					h5.optionSubTitle A team in the current English Top Flight.
					div.action
						a.btn(href="/club?premOrDifferent=prem&printingType=" + data.printingType + "&deliveryType=" + data.deliveryType +"&style=" + data.style + "&childOrAdult=" + data.childOrAdult)
							span Select
			div.choice.bottomChoice.small-12.medium-6.columns
				div.customPrinting
					h3.optionTitle Different League
					h5.optionSubtitle A team not currently in the English Top Flight.
					div.action
						a.btn(href="/colour?premOrDifferent=different&printingType=custom&deliveryType=" + data.deliveryType +"&style=" + data.style + "&childOrAdult=" + data.childOrAdult)
							span Select
	include footerFlow.pug