include header.pug
div.page.quote
	div.content
		div.title 
			h1 WANT SOMETHING A LITTLE DIFFERENT ?
		p.pageInfo Our website is focused on the football shirts of teams from the English Top Flight but we are happy to print shirts of teams in different leagues or even different sports! Fill out the form below as best you can and if there is anything you aren't sure about, add it to the comments field at the bottom. We aim to respond to all queries within 2 working days. 
		div.form.row
			div.field#name.small-12.medium-6.columns
				span.formLabel Full name
					sup * 
				input.name(placeholder="Joe Bloggs")
			div.field#email.small-12.medium-6.columns
				span.formLabel E-mail Address
					sup * 
				input.email(placeholder="example.123@example.co.uk")
			div.field#club.small-12.medium-6.columns
				span.formLabel The club that wears this shirt is...
					sup * 
				input.club(placeholder="Example FC")
			div.field#league.small-12.medium-6.columns
				span.formLabel  The league this club is in is...
				input.league(placeholder="Division 1")
			div.field#strip.small-12.medium-6.columns
				span.formLabel Strip
					sup * 
				select.strip
					option Please Select
					option Home
					option Away
					option Third
			div.field#year.small-12.medium-6.columns
				span.formLabel This shirt is from the year...
					sup *
				input.year(placeholder="2017")
			div.field#colour.small-12.medium-6.columns
				span.formLabel Colour of letters/numbers
					sup * 
				input.colour(placeholder="Blue")
			div.field#letter.small-12.medium-6.columns
				span.formLabel Shape of letters
					sup * 
				select.letterSelect
					option Please Select
					option Straight
					option Curved
			div.field#shirtName.small-12.medium-6.columns
				span.formLabel Name you want on your shirt
					sup *  
				input.shirtName(placeholder="Ronaldo")
			div.field#shirtNumber.small-12.medium-6.columns
				span.formLabel Numbers you want on your shirt
					sup *
				input.shirtNumber(placeholder="7")
			div.field#comments.small-12.columns
				span.formLabel Anything else? 
				textarea.comments(placeholder="Ask us anything.")
			div.submit.btn.small-12.columns
				a.quoteEmail(href="/sendQuoteEmail")
					span Request Quote
include footer.pug