include header.pug
div.page.quote
	div.content
		h1.title Need Something Special?
		p.pageInfo Let us know what you want and we will get back to your with a personalised Quote
		div.form
			div.field#name
				span.formLabel Name: 
				input.name
			div.field#email
				span.formLabel Email: 
				input.email
			div.field#league  
				span.formLabel League: 
				input.league
			div.field#club  
				span.formLabel Club: 
				input.club
			div.field#strip  
				span.formLabel Strip: 
				input.strip
			div.field#year  
				span.formLabel Year: 
				input.year
			div.field#colour  
				span.formLabel Font Colour: 
				input.colour
			div.field#letter  
				span.formLabel Letter Shape: 
				select.letterSelect
					option Please Select
					option Straight
					option Curved
			div.field#shirtName  
				span.formLabel Shirt Name: 
				input.shirtName
			div.field#shirtNumber  
				span.formLabel Shirt Number: 
				input.shirtNumber
			div.field#comments  
				span.formLabel Extra Comments: 
				textarea.comments
			div.action.send
				a.quoteEmail.btn(href="/sendQuoteEmail")
					span Request Quote
include footer.pug