include header.pug
div.page.quote
	h1 Need Something Special?
	p Let us know what you want and we will get back to your with a personalised Quote
	div.addressForm
		div.field#name
			span Name: 
			input
		div.field#email
			span Email: 
			input
		div.field#pro  
			span League: 
			select.proOption
				option Please Select
				option Professional
				option Amatuer
		div.field#league  
			span League: 
			input
		div.field#club  
			span Club: 
			input
		div.field#strip  
			span Strip: 
			input
		div.field#colour  
			span Shirt Colour: 
			input
		div.field#letter  
			span Letter Shape: 
			input
		div.field#shirtName  
			span Shirt Name: 
			input
		div.field#shirtNumber  
			span Shirt Number: 
			input
		div.field#comments  
			span Extra Comments: 
			textarea
		a.btn Submit
include footer.pug