include header.pug
div.page.quote
	div.content
		h1.title Need Something Special?
		p.pageInfo Let us know what you want and we will get back to your with a personalised Quote
		div.form
			div.field#name
				span.formLabel Name: 
				input
			div.field#email
				span.formLabel Email: 
				input
			div.field#league  
				span.formLabel League: 
				input
			div.field#club  
				span.formLabel Club: 
				input
			div.field#strip  
				span.formLabel Strip: 
				input
			div.field#year  
				span.formLabel Year: 
				input
			div.field#colour  
				span.formLabel Shirt Colour: 
				input
			div.field#letter  
				span.formLabel Letter Shape: 
				select.letterSelect
					option Please Select
					option Straight
					option Curved
			div.field#shirtName  
				span.formLabel Shirt Name: 
				input
			div.field#shirtNumber  
				span.formLabel Shirt Number: 
				input
			div.field#comments  
				span.formLabel Extra Comments: 
				textarea
			div.action.send
				a.btn(href="/sendQuoteEmail")
					span Request Quote
include footer.pug