include headerFlow.pug
div.services.page
	div.content
		h1 What Service Do You Want?
		p.pageInfo You can either send us your shirt, bring your shirt to our office or have us send the letters and numbers to you and you do the printing.
		div.choices.row
			div.choice.small-12.medium-4.columns
				div.post
					h3.optionTitle Post Us You Shirt
					h5.optionSubTitle You send us your shirt and we print on it and send it back.
					div.action
						a.btn(href="/style?deliveryType=post")
							span Select
			div.choice.small-12.medium-4.columns
				div.deliver
					h3.optionTitle Bring Us Your Shirt
					h5.optionSubTitle You bring us your shirt, we print on it and send it back.
					div.action
						a.btn(href="/style?deliveryType=deliver")
							span Select
			div.choice.small-12.medium-4.columns
				div.print
					h3.optionTitle You Print Yourself
					h5.optionSubTitle The letters and numbers are sent to you.
					div.action
						a.btn(href="/style?deliveryType=send")
							span Select
	include footerFlow.pug