include header.pug
div.page.sleeves
	h1 Add the Official Premier League Sleeve Patches?
	div.select
		select.sleeveOption
			option(value='') Please Select
			option No sleeve Patches
			option Left Sleeve Patch
			option Right Sleeve Patch
			option Both Sleeve Patch

	div.hiddenFirst.content
		div.sleeve
			img()
		div.btnDiv
			a.btn()
				span Select
include footer.pug