include header.pug
div.sleeves.page
	div.content
		h1.title Add the Official Sleeve Patches?
		p.pageInfoSleeve Add a sleeve patch to each arm on your shirt.
		div.sleeveImage
			img(src="/public/images/sleeve.jpeg")
		div.basket
				p Price: 
					span.price £7.50
		div.buttons.row
			div.action.yes.small-12.medium-6.columns
				a.btn.yes()
					div Yes
			div.action.no.small-12.medium-6columns
				a.btn.no()
					div No
		include footerFlow.pug