include headerFlow.pug
div.sleeves.page
	div.content
		h1 Add the Official Premier League Sleeve Patches?
		div.sleeveImage
			img(src="/public/images/sleeve.jpeg")

		div.buttons.row
			div.action.small-6.columns
				a.btn.yes()
					div Yes
			div.action.small-6.columns
				a.btn.no()
					div No
		include footerFlow.pug