include header.pug
div.sleeves.page
	div.content
		h1.title Add the Official Premier League Sleeve Patches?
		p.pageInfoSleeve Add a sleeve patch to each arm on your shirt.
		div.sleeveImage
			img(src="/public/images/sleeve.jpeg")
		div.basket
				p Price: 
					span.price £10
		div.buttons.row
			div.action.small-6.columns
				a.btn.yes()
					div Yes
			div.action.small-6.columns
				a.btn.no()
					div No
		include footerFlow.pug