include header.pug
div.strip.page
	div.content
		h1.title Which Strip Do You Have?
		if data.clubs === 2
			div.strips.row
				div.strip.small-12.medium-6.large-6.columns
					h3.optionTitle Home
					div.image
						img(src="/public/images/kits/" + data.club + "-home.gif")
					div.action
						a.btn(href="/heroOrCustom?strip=home&club=" + data.club + "&printingType=" + data.printingType + "&deliveryType=" + data.deliveryType +"&style=" + data.style + "&premOrDifferent=" + data.premOrDifferent + "&childOrAdult=" + data.childOrAdult)
							span Select
				div.strip.small-12.medium-6.large-6.columns
					h3.optionTitle Away
					div.image
						img(src="/public/images/kits/" + data.club + "-away.gif")
					div.action
						a.btn(href="/heroOrCustom?strip=away&club=" + data.club + "&printingType=" + data.printingType + "&deliveryType=" + data.deliveryType +"&style=" + data.style + "&premOrDifferent=" + data.premOrDifferent + "&childOrAdult=" + data.childOrAdult)
							span Select
		else 
			div.strips.row
				div.strip.small-12.medium-4.large-4.columns
					h3.optionTitle Home
					div.image
						img(src="/public/images/kits/" + data.club + "-home.gif")
					div.action
						a.btn(href="/heroOrCustom?strip=home&club=" + data.club + "&printingType=" + data.printingType + "&deliveryType=" + data.deliveryType +"&style=" + data.style + "&premOrDifferent=" + data.premOrDifferent + "&childOrAdult=" + data.childOrAdult)
							span Select
				div.strip.small-12.medium-4.large-4.columns
					h3.optionTitle Away
					div.image
						img(src="/public/images/kits/" + data.club + "-away.gif")
					div.action
						a.btn(href="/heroOrCustom?strip=away&club=" + data.club + "&printingType=" + data.printingType + "&deliveryType=" + data.deliveryType +"&style=" + data.style + "&premOrDifferent=" + data.premOrDifferent + "&childOrAdult=" + data.childOrAdult)
							span Select
				div.strip.small-12.medium-4.large-4.columns
					h3.optionTitle Alternative
					div.image
						img(src="/public/images/kits/" + data.club + "-third.gif")
					div.action
						a.btn(href="/heroOrCustom?strip=third&club=" + data.club + "&printingType=" + data.printingType + "&deliveryType=" + data.deliveryType +"&style=" + data.style + "&premOrDifferent=" + data.premOrDifferent + "&childOrAdult=" + data.childOrAdult)
							span Select
	include footerFlow.pug