.basket {
	text-align: center;
}

.basket .shirt {
	border: 1px solid #818181;
	padding: 15px;
	width: 80%;
	margin-left: 10%;
	display: flex;
 	justify-content: flex-end;
 	align-items: center;
 	margin-bottom: 15px;
}

.colourShirtImage img {
	margin-top: 100px;
	padding-left: 100px;
	height: 150px !important;
}

.kitImage img {
	height: 300px;
}

.notKitImage {
	height: 300px;
	display: flex;
 	justify-content: center;
 	align-items: center;
}

.notKitImage img{
	height: 200px;
	width: 200px;
}

.deliveryOption, .deliveryMethod {
	width: 65%;
}

.basket .shirt > .row{
	margin: 0px;
	width: 100%;
}

.basket .shirt h5 {
	padding-bottom: 15px;
}

.basket .overallActions * {
	margin-top: 20px;
}

.basket .overallActions .formLabel {
	width: 120px;
	display: inline-block;
}

.payment a {
	background-color: green;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
	transition: 1s;
}

.paymentModal {
	display: block !important;
	visibility: hidden;
	margin-top: 30px;
}

.payment a:hover {
	background-color: #FFFFFF;
	border: solid 1px green;
	color: green;
}

.basket a {
	transition: 1s;
}

.basket a:hover {
	text-decoration: underline;
}

.another {
	margin: 20px;
	font-size: 20px;
	text-decoration: underline;
	transition: 1s;
}

.removeBasket * {
	color: #323B7E;
	font-size: 20px;
	text-decoration: underline;
	transition: 1s;
}

.removeBasket a:hover {
	text-decoration: underline !important;
}

@media only screen and (max-width: 40em) { 
	.colourShirtImage img {
		margin-left: -25px;
		padding-left: 0px;
	}
}