.club {
	border: 1px solid #C1C1C1;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.club h3 {
	height: 50px;
	margin-bottom: 30px;
}

.crest {
	display: flex;
 	justify-content: center;
 	align-items: center;
 	height: 300px;
}

.crest img {
	width: 200px;
	max-height: 300px;
}

