.confirmation div {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.shirt > .row{
	margin: 0px;
	width: 100%;
}

.kitImage img {
	height: 500px;
}

.details p {
	text-align: left;
	font-size: 20px;
}

.startOver a {
	background-color: red;
	color: #ffffff;
	padding: 7px;
	border-radius: 5px;
}

.addToBasket {
	background-color: green;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
	transition: 1s;
}

.addToBasket:hover {
	background-color: #FFFFFF;
	border: solid 1px green;
	color: green;
}