.bottom {
	width: 100%;
	padding: 30px;
	background-color: #FFFFFF;
}

.bottom * {
	display: flex;
 	justify-content: center;
 	align-items: center;
}

.footer {
	background-color: #323B7E; 
	padding: 50px;
	text-align: center;
	margin-bottom: 0px;
}

.footer h4 {
	color: #FFFFFF;
}

.footer a {
	text-decoration: underline;
	transition: 1s;
	color: #FFFFFF;
	font-weight: bold;
}

.footer a:hover {
	color: #9DE4FF;
}

.footer span {
	color: #FFFFFF;
	font-weight: bold;
}

.createdBy {
	position: relative;
	bottom: 0;
	text-align: center;
	margin-top: 30px;
}

.footer .social i {
	font-size: 30px;
	padding: 20px;
	padding-bottom: 00px;
	color: #FFFFFF !important;
}

@media only screen and (max-width: 40em) { 
	.footer * {
		text-align: center;
	}

	.footer h4 {
		font-weight: bold;
		font-size: 20px;
	}

	.bottom {
		position: relative;
		bottom: 0;
	}

	.bottom * {
		display: block;
	}

	.bottom .action span{
		width: 50% !important;
		margin-left: 25% !important;
		margin-right: 25% !important;
		margin-bottom: 20px;
	}
}