/* Both Mobile and Desktop*/
.emailSent, .cookiePermission {
	width: 100%;
	left: 0;
	top: 0;
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
	padding-left: 30px;
	display: flex;
 	align-items: center;
 	display: none;
}

.top {
	text-align: center;
}

.top a img {
	padding: 15px;
	border-radius: 5px;
	width: 300px;
}

.shopping-basket * {
	color: #323B7E;	
}

.emailSent {
	display: block;
	background-color: green;
}

.cookiePermission, .emailSent {
	font-size: small;
}

.cookiePermission .fa-times, .emailSent .fa-times {
	padding-top: 3px;
	position: absolute;
	color: white;
	right: 0;
	padding-right: 30px;
	cursor: pointer;
	font-size: small;
}

.header {
	height: 80px;
}

.logo {
	/*padding: 5px;*/
	height: 100%;
}

.logo-menu {
	height: 80px;
}

.logo-small img {
	height: 70px;
	width: 160px !important;
}

.links {
	display: flex;
 	justify-content: flex-end;
 	align-items: center;
 	height: 100%;
}

.links a {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: underline;
	transition: 0.5s;
	color: #323B7E;
	font-weight: bold;
}

.links a:hover {
	color: #9DE4FF;
}

.top {
	display: flex;
 	justify-content: center;
 	align-items: center;
 	border-bottom: #323B7E solid 3px;
}

a.link {
	font-size: 20px;
	color: #323B7E;
	padding-top: 30px;
}

a.link:hover {
	border-top: 3px solid #323B7E;
}

/* Mobile Pop-up Menu */
.mobileMenu {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
    background-color: rgba(255,255,255,0.90); 
	z-index: 1000;
	display: none;
}

.mobileMenu a {
	display: block;
	font-size: 30px;
	margin-top: 40px;
	color: #000000;
	font-weight: bolder;
}

.mobileMenu .fa {
	position: fixed;
	top: 0;
	right: 0;
	color: #000000;
	font-weight: bolder;
	font-size: 40px;
	margin: 10px;
}

@media only screen and (max-width: 40em) { 
	.shopping-basket a {
		font-size: 20px;
		padding-right: 10px;
		float: right;
	}

	.fa-bars {
		font-size: 20px !important; /* Need !important as Font Awesome seems to force a size. */
		padding-left: 10px;
		float: left;
	}
}