.top-border {
	width: 100vw;
	position: fixed;
	top: 0;
	border-top: solid 5px #323B7E;
}

/* Messages */
.messages > div {
	width: 100%;
	left: 0;
	top: 0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
	padding-left: 30px;
	display: flex;
 	align-items: center;
 	display: none;
}

.cookiePermission {
	max-width: 100% !important;
	background-color: #E50000;
}

.emailSent {
	background-color: #4BB543;
}

.messages * {
	font-size: small;
}

.messages .fa-times {
	text-align: center;
	padding-top: 3px;
	position: absolute;
	color: #FFFFFF;
	right: 0;
	cursor: pointer;
	font-size: small;
	transition: 0.5s;
}

.messages .fa-times:hover {
	color: #E50000;
}

.top {
	height: 100px;
	margin-bottom: -20px;
}

.top .logo {
	display: inline-block;
	float: left;
	padding: 20px;
	padding-left: 30px;
}

.top .logo img {
	height: 50px;
}

.top .links {
	height: 100%;
	text-align: right;
	display: flex;
 	justify-content: flex-end;
 	align-items: center;
}

.top .links > div {
	display: inline-block;
	padding: 15px;
}

.top .links a {
	color: #323B7E;
	font-weight: bolder;
	transition: 0.5s;
}

.top .fa-bars, .top .fa-shopping-cart {
	font-size: large;
	transition: 0.5s;
}

.top .links a:hover, .top .fa:hover {
	color: #76c6df;
}

@media only screen and (max-width: 40em) { 
	.logo {
		height: 50px;
	}

	.top {
		display: flex;
	 	justify-content: center;
	 	align-items: center;
	 	height: 80px;
	}

	.top .fa {
		font-size: x-large;
	}

	.top .logo {
		float: none;
		padding: 0px;
		text-align: center;
	}

	.top .shopping-basket {
		text-align: right;
	}

	/* Mobile Pop-up Menu */
	.mobileMenu {
		position: fixed;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	    background-color: rgba(255,255,255,0.95); 
		z-index: 1000;
		display: none;
		text-align: center;
		padding: 70px;
	}

	.mobileMenu a {
		display: block;
		font-size: 30px;
		margin-top: 40px;
		color: #323B7E;
		font-weight: bolder;
	}

	.mobileMenu .fa {
		position: fixed;
		top: 0;
		right: 0;
		color: #323B7E;
		font-weight: bolder;
		font-size: 40px;
		margin: 10px;
	}	
}