
.landingImage {
	margin-top: 18px;
	height: 70vh;
 	background:
	    url("public/images/ball.jpeg");
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
}

.landingImage h1{
	font-size: 70px;
	padding-left: 15%;
	font-weight: bolder;
	color: white;
	top: 20%;
	position: absolute;
}

.landingImage * {
	color: white !important;
}


.landingTitle {
	text-align: left;
    padding: 100px;
    font-size: xx-large;
    font-weight: bold;
}

.description {
	font-size: large;
	padding: 30px 70px 30px 70px;
	background-color: #323B7E;
	color: #FFFFFF;
}

.description a {
	color: #76c6df;
	text-decoration: underline;
	transition: 1s;
}

.description a:hover {
	color: #FFFFFF;
}

.section {
	padding: 30px 70px 30px 70px;
}

.section .heading {
	text-align: center;
	font-weight: bolder;
	color: #323B7E;
}

.pageInfo {
	padding: 30px 0px 30px 0px;
	font-size: large;
	color: #323B7E;
}

.exampleShirt img {
	border: solid 7px #323B7E;
	border-radius: 20px;
}

.section .btn {
	margin: 50px;
}


.divider {
	height: 300px;
	background:
	    url("public/images/seats.png");
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
}