.hiddenFirst {
	display: none;
}

.select {
	display: flex;
 	justify-content: center;
 	align-items: center;
	width: 50%;
	margin-left: 25%;
}

.choice > div {
	padding: 30px;
	margin: 2px;
	border: 2px solid #818181;
	border-radius: 5px;
}

.dateField {
	width: 70% !important;
}

.date {
	width: 90% !important;
    max-width: 90% !important;
    float: left !important;
}

.dateField i {
	font-size: 25px;
	margin-top: 13px;
}

.addShirt {
	text-decoration: underline !important;
	transition: 1s;
}

.addShirt:hover {
	text-decoration: underline !important;
}

.colourShirtImage {
	width: 300px !important;
}

.nameNumberLeft {
	display: block;
	font-size: small;
	text-align: right;
	padding-right: 100px;
}

.page h1 {
	margin-top: 50px;
}

.page * {
	color: #323B7E;
}

.page .choice > div {
	border: 3px solid #323B7E;
}

.page .choice * {
	color: #323B7E;
}

.page > * {
	margin-bottom: 30px;
}

.top {
	text-align: center;
	margin-bottom: -60px;
}

.top a img {
	padding: 15px;
	border-radius: 5px;
	width: 300px;
}

.content {
	margin-bottom: 100px;
}


.page h1, .pageInfo {
	padding-bottom: 10px;
}


.pageInfo, .pageInfoSleeve {
	font-size: 20px;
}

.confirmBottom {
	width: 100%;
	margin-bottom: 0px;
	padding: 30px;
	background-color: #FFFFFF;
}

.confirmBottom div {
	margin-top: 30px;
	width: 100%;
}

.shirtImages, .index .choices{
	margin-top: 50px;
}

.shirtImage {
	margin-top: 10px;
}

.getYours {
	margin: 50px;
}

.getYours a {
	background-color: green;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
	transition: 1s;
}

.action span, .action div {
 	font-size: 20px;
 	padding: 5px;
 	border: solid 3px #323B7E;
 	border-radius: 5px;
 	transition: 1s;
	width: 150px !important;
 }

 .action span:hover, .action div:hover {
  	background-color: #323B7E;
  	color: #FFFFFF;
 }

.club {
	margin-bottom: 80px;
	padding-bottom: 50px;
	border-bottom: #919191 solid 1px;
}

.club .stats {
	margin-top: 50px;
	margin-bottom: 20px;
}

.club h3 {
	height: 50px;
	margin-bottom: 30px;
}

.crest {
	display: flex;
 	justify-content: center;
 	align-items: center;
 	height: 300px;
}

.strip {
	margin-bottom: 30px;
}

.strip .image {
	padding-bottom: 30px;
}

.strip .image img {
	height: 300px;
}

.details p {
	text-align: left;
	font-size: 20px;
}

.form .formLabel {
	display: inline-block;
	width: 150px;
	font-size: 20px;
}

.form > form > div {
	margin: 10px;
}

.field {
	display: flex;
 	justify-content: center;
 	align-items: center;
}

.form input, .form select, .form textarea {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 70%;
	max-width: 70%;
}

.form textarea {
	height: 150px;
}

.form #comments {
	margin-bottom: 30px;
}

.confirmation {
	text-align: center;
}

.confirmation .shirt {
	border: 1px solid #818181;
	padding: 15px;
	width: 80%;
	margin-left: 10%;
	display: flex;
 	justify-content: flex-end;
 	align-items: center;
 	margin-bottom: 15px;
}

.kitImage img {
	height: 300px !important;
}


.confirmation .shirt > .row{
	margin: 0px;
	width: 100%;
}


.confirmation .shirt h5 {
	padding-bottom: 15px;
}

.confirmation .overallActions * {
	margin-top: 20px;
}

.addToBasket span{
	background-color: green;
	color: #ffffff;
	border: solid 2px;
	padding: 10px;
	transition: 1s;
}

.heroButton {
	margin-top: 30px;
}

.linkToCustom a {
	text-decoration: underline !important;
}

.addToBasket span:hover {
	background-color: #FFFFFF;
	border: solid 2px green;
	color: green;
}

.sleeveImage img {
	height: 170px;
	margin: 10px;
}

.buttons {
	width: 30%;
	margin-bottom: 200px;
}

.buttons .yes {
	text-align: right;
}

.buttons .no {
	text-align: left;
}

.buttons .action div {
	text-align: center;
	display: inline-block;
	width: 100px !important;
}

.paymentSuccess {
	text-align: center;
}

.paymentSuccess .shirt {
	border: 1px solid #818181;
	padding: 15px;
	width: 80%;
	margin-left: 10%;
	display: flex;
 	justify-content: flex-end;
 	align-items: center;
 	margin-bottom: 15px;
}

.paymentSuccess .kitImage img {
	height: 300px;
}

.paymentSuccess .notKitImage {
	height: 300px;
	display: flex;
 	justify-content: center;
 	align-items: center;
}

.paymentSuccess .notKitImage img{
	height: 200px;
	width: 200px;
}

.paymentSuccess .deliveryOption {
	width: 65%;
}

.paymentSuccess .shirt > .row{
	margin: 0px;
	width: 100%;
}

.paymentSuccess .shirt h5 {
	padding-bottom: 15px;
}

.paymentSuccess .overallActions * {
	margin-top: 20px;
}

.stripe-button-el {
	display: none !important;
}

.paymentForm form {
	margin-bottom: 30px;
}

.note {
	cursor: pointer;
}

.serviceModal {
	display: flex;
 	justify-content: center;
 	align-items: center;
	position: fixed;
	height: 500px;
	width: 100%;
	left: 0;
	top: 10%;
	visibility: hidden;
}

.serviceModal .content {
	text-align: center;
	padding: 100px;
	width: 60%;
	background-color: white;
	border: 2px solid black;
}

@media only screen and (max-width: 40em) { 
	.topChoice > div {
		margin-bottom: -2px;
		border-radius: 5px 5px 0px 0px;
	}

	.middleChoice > div {
		margin-top: 0px;
		margin-bottom: -2px;
		border-radius: 0px 0px 0px 0px;
	}	

	.bottomChoice > div {
		margin-top: 0px;
		border-radius: 0px 0px 5px 5px;
	}

	.confirmBottom {
		margin-bottom: 50px !important;
	}

	.buttons {
		width: inherit;
		margin-bottom: 200px;
	}

	.buttons .action div {
		width: 50%;
		display: inline-block;
		margin-top: 20px;
	}

	.buttons .yes, .buttons .no {
		text-align: center !important;
	}

	.date {
		width: 80% !important;
	    max-width: 80% !important;
	    float: left !important;
	}

	.strip {
		margin-bottom: 30px;
	}

	.optionTitle {
		text-decoration: underline;
	}

	.shirtImages, .index .choices{
		margin-top: 15px;
	}

	.contact .optionSubtitle {
		height: 80px;
	}
}

@media only screen and (min-width: 40em) and (max-width: 64em) { 
	.choices {
		margin-bottom: 150px;
	}


	.buttons {
		width: 100%;
		margin-bottom: 200px;
	}

	.buttons .action div {
		width: 50%;
		display: inline-block;
		margin-top: 20px;
	}

}