.hiddenFirst {
	display: none;
}

.select {
	display: flex;
 	justify-content: center;
 	align-items: center;
	width: 50%;
	margin-left: 25%;
}

.choice > div {
	padding: 30px;
	margin: 2px;
	border: 2px solid #818181;
	border-radius: 10px;
}

.page h1 {
	margin-top: 50px;
}

.page * {
	color: #323B7E;
}

.page .choice > div {
	border: 3px solid #323B7E;
}

.page .choice * {
	color: #323B7E;
}

.page > * {
	margin-bottom: 30px;
}

.top {
	text-align: center;
	margin-bottom: -60px;
}

.top a img {
	padding: 15px;
	border-radius: 10px;
	width: 300px;
}
.content {
	margin-bottom: 100px;
}


.page h1, .pageInfo {
	padding-bottom: 50px;
}


.pageInfo, .pageInfoSleeve {
	font-size: 20px;
}

.bottom {
	position: fixed;
	width: 100%;
	bottom: 0;
	margin-bottom: 0px;
	padding: 30px;
	background-color: #FFFFFF;
}

.bottom * {
	display: flex;
 	justify-content: center;
 	align-items: center;
}

.action span, .action div {
 	font-size: 20px;
 	padding: 5px;
 	border: solid 3px #323B7E;
 	border-radius: 10px;
 	transition: 1s;
	width: 150px !important;
 }

 .action span:hover, .action div:hover {
  	background-color: #323B7E;
  	color: #FFFFFF;
 }

.club {
	margin-bottom: 80px;
	padding-bottom: 50px;
	border-bottom: #919191 solid 1px;
}

.club .stats {
	margin-top: 50px;
	margin-bottom: 20px;
}

.club h3 {
	height: 50px;
	margin-bottom: 30px;
}

.crest {
	display: flex;
 	justify-content: center;
 	align-items: center;
 	height: 300px;
}

.crest img {
	width: 200px;
	max-height: 300px;
}

.strip {
	margin-bottom: 30px;
}

.strip .image {
	padding-bottom: 30px;
}

.strip .image img {
	height: 300px;
}

.details p {
	text-align: left;
	font-size: 20px;
}

.form .formLabel {
	display: inline-block;
	width: 150px;
	font-size: 20px;
}

.form > form > div {
	margin: 10px;
}

.field {
	display: flex;
 	justify-content: center;
 	align-items: center;
}

.form input, .form select, .form textarea {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 70%;
	max-width: 70%;
}

.form textarea {
	height: 150px;
}

.form #comments {
	margin-bottom: 30px;
}

.confirmation {
	text-align: center;
}

.confirmation .shirt {
	border: 1px solid #818181;
	padding: 15px;
	width: 80%;
	margin-left: 10%;
	display: flex;
 	justify-content: flex-end;
 	align-items: center;
 	margin-bottom: 15px;
}

.kitImage img {
	height: 300px !important;
}


.confirmation .shirt > .row{
	margin: 0px;
	width: 100%;
}


.confirmation .shirt h5 {
	padding-bottom: 15px;
}

.confirmation .overallActions * {
	margin-top: 20px;
}

.addToBasket span{
	background-color: green;
	color: #ffffff;
	border: solid 2px;
	padding: 10px;
	transition: 1s;
}

.heroButton {
	margin-top: 30px;
}

.linkToCustom a {
	text-decoration: underline !important;
}

.addToBasket span:hover {
	background-color: #FFFFFF;
	border: solid 2px green;
	color: green;
}

.sleeveImage img {
	height: 300px;
	margin: 30px;
}

.buttons {
	width: 30%;
	margin-bottom: 200px;
}

.buttons .action div {
	display: inline-block;
	width: 100px !important;
}

.paymentSuccess {
	text-align: center;
}

.paymentSuccess .shirt {
	border: 1px solid #818181;
	padding: 15px;
	width: 80%;
	margin-left: 10%;
	display: flex;
 	justify-content: flex-end;
 	align-items: center;
 	margin-bottom: 15px;
}

.paymentSuccess .kitImage img {
	height: 300px;
}

.paymentSuccess .notKitImage {
	height: 300px;
	display: flex;
 	justify-content: center;
 	align-items: center;
}

.paymentSuccess .notKitImage img{
	height: 200px;
	width: 200px;
}

.paymentSuccess .deliveryOption {
	width: 65%;
}

.paymentSuccess .shirt > .row{
	margin: 0px;
	width: 100%;
}

.paymentSuccess .shirt h5 {
	padding-bottom: 15px;
}

.paymentSuccess .overallActions * {
	margin-top: 20px;
}