.clubDiscounts {
	display: inline-flex; 
  	padding: 0.5em;
}

.clubs {
	display: flex;
  	flex-wrap: wrap;
}

.listContent {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 1em;
	width: 100%
}

.listContent .playerList {
	width: 100%;
}

.shirtImage {
	width: 100%;
	text-align: center;
}

.shirtImage {
	max-width: 300px;
}

.clubDiscounts a {
	text-decoration: underline;
}